body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .navbar {
    padding-left: 22px;
  }
  
  .left-nav {
    display: flex;
    margin-left: auto;
    padding-right: 22px;
  }
  
  .search {
    margin-right: 12px;
  }
  
  /* Bootstrap Media Query Adjustments (Optional) */
  @media (max-width: 991px) {
    .navbar-toggler {
      border-color: transparent;
    }
  
    .navbar-toggler-icon {
      background-color: #ffffff;
    }
  }
  